@import './_config.scss';
// @import './_animation.scss';
body{
  background:$primarycolor;
  color:$fontcolor;
}
.showlist{
 padding:10px;
 font-size: 0;
 text-align: center;
 
 .showitem{
   position: relative;
   width:200px;
   height:200px;
   border:1px solid #ccc;
   overflow: hidden;
   display: inline-block;
   margin-right:10px;
   border-radius: 2px;
   box-shadow: 0px 2px 6px rgba(0,0,0,.5);
   font-size: 14px;
   background-repeat: no-repeat;
   background-position: center;
   background-color:#fff;
   @media screen and (max-width:762px) {
    margin-top:20px;
   }
   &:nth-child(1){
    background-image: url(../img/blog.JPG);
    background-size: contain;
     background-position: center top;
  }
    &:nth-child(2){
      background-image: url(../img/vue.JPG);
      background-size: cover;
    }
  &:nth-child(3){
    background-image: url(../img/shop.JPG);
    background-size:cover;
  }
  &:last-child{
   margin-right:0;
  }
 &:hover{
  .content{bottom:0;}
 }
a{
 position: absolute;
 left:0;
 right: 0;
 top:0;
 bottom:0;
 z-index:1;
}
.title{
 font-size: 16px;
 font-weight: 700;
 line-height: 1.2;
 color:#fff;
 filter:blur(50%);

}
.content{
     position:absolute;
     box-sizing:border-box;
     bottom:-100%;//相对于父级来的
     width:100%;
     height:100px;
     color:#fff;
     z-index:0;
     background:rgba(0,0,0,.3);
     transition:all 0.3s ;
     padding:2px 2px;
   }

 }
 .showitem{
    *display:inline;;
  }
}

.fade{
  position:fixed;
  width:100%;
  top:0;
  bottom:0;
  transform:translate3d(-100%,0,0);
  background:#fff;
  z-index:10;
  transition:transform .4s ;
  .top{
    height:36px;
    background:$primarycolor ;
    .title{
      position:absolute;
      top:0;
      width:100%;
      text-align:center;
      line-height:32px;
    }
    .close{
      position:absolute;
      top:0;
      cursor: pointer;
      line-height:32px;
      padding-left:10px;
    }
  }
  .middle{
    color:$primarycolor;
    text-align:center;
  }
}

.about{
   position:fixed;
   bottom:0;
   padding-bottom: 20px;
   cursor:pointer;
   .dot{
    width:10px;
    height:10px;
    display:inline-block;
    border-radius:50%;
    background: #fff;
    animation:dot .4s ease-in-out  infinite alternate;
    &:nth-of-type(2){
      animation-delay:.4s
    }
    &:nth-of-type(3){
      animation-delay:.8s
    }
   }
}
//动画
@keyframes dot {
 from {transform:translate(0,0)}
 to {transform:translate(0,-100%)}
}

.movein{
    transform:translate3d(0,0,0);
}